.MoviePreviewCard {
  position: relative;
  cursor: pointer;
  width: 232px;
  max-height: 200px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 302px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  &:hover img {
    transform: scale(1.5);
  }

  .textBox {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: #fff;
    background: radial-gradient(black, transparent);
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 16px;

    .subTitle {
      font-size: 13px;
      color: gainsboro;
    }

    > div:first-child {
      max-width: calc(100% - 30px);
    }

    .star {
      margin: 0 4px 0 10px;
      width: 0.9em;
      color: yellow;
    }
  }

  .FavoriteIcon {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #fff;
    background: #00000052;
  }

  h2 {
    color: white;
    font-size: 0.9rem;
    margin: 0;

    @media (max-width: 800px) {
      font-size: 0.6rem;
    }
  }
}
